@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Averta';
  src: url('~/assets/fonts/averta-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root{
  --btx-blue-1: #0b63ce;
  --btx-blue-2: #005fbe;
  --btx-white  : #ffffff;
  --btx-text   : #ffffff;
  --header-height: 75px;
}

html, body, #app { margin:0; padding:0; }
*, *::before, *::after { box-sizing: border-box; }